@model PlantDatabase.Models.TotalPlantDescriptionModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TotalPlantDescriptionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlantCoreID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantCoreID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantCommonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantCommonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloomColorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloomColorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantLeafArrID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantLeafArrID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeafShapeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeafShapeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeafEdgeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeafEdgeID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
